# Python 3.7
absl-py==0.1.10
alembic==1.14.1
arff==0.9
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
azure-cognitiveservices-anomalydetector==0.3.0
azure-common==1.1.28
azure-core==1.29.5
backcall==0.2.0
beautifulsoup4==4.13.5
bleach==6.1.0
botocore==1.32.1
cachetools==5.3.2
certifi==2023.7.22
charset-normalizer==3.3.2
cloudpickle==2.2.1
colorama==0.4.6
colorlog==6.10.1
combo==0.1.3
contourpy==1.0.5
cycler==0.11.0
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.8
docopt==0.6.2
edl-pytorch==0.0.2
epyt==1.1.9
et-xmlfile==1.1.0
executing==2.2.0
fastdtw==0.3.4
fastjsonschema==2.21.2
filelock==3.14.0
flatbuffers==1.12
fonttools==4.37.4
fsspec==2023.10.0
gast==0.3.3
geomloss==0.2.6
google-auth==2.23.4
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
greenlet==3.1.1
grpcio==1.32.0
h5py==2.10.0
hypnettorch==0.0.4
idna==3.4
imbalanced-learn==0.12.4
imblearn==0.0
importlib-metadata==6.8.0
importlib-resources==6.4.5
intel-openmp==2021.4.0
ipython==8.12.3
isodate==0.6.1
jax==0.2.28
jedi==0.19.2
jinja2==3.1.4
jmespath==1.0.1
joblib==1.3.2
jsonpickle==4.1.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-client==8.6.3
jupyter-core==5.8.1
jupyterlab-pygments==0.3.0
Keras==1.1.2
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==16.0.6
llvmlite==0.40.1
mako==1.3.10
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.5.0
matplotlib-inline==0.1.7
mistune==3.1.4
mkl==2021.4.0
ml-dtypes==0.2.0
ml-stars==0.1.3
mlblocks==0.6.1
mlxtend==0.23.3
mmh3==5.0.1
mpmath==1.3.0
msrest==0.7.1
narwhals==1.42.1
nbclient==0.10.1
nbconvert==7.16.6
nbformat==5.10.4
netron==8.0.7
networks==0.3.7
networkx==3.1
numba==0.57.1
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
optuna==4.5.0
orion-ml==0.5.2
osqp==0.6.7.post3
packaging==21.3
pandas==2.0.1
pandocfilters==1.5.1
parso==0.8.5
patsy==0.5.6
pickleshare==0.7.5
Pillow==9.2.0
pipreqs==0.4.13
pkgutil-resolve-name==1.3.10
platformdirs==4.3.6
plotly==6.3.0
prompt-toolkit==3.0.52
protobuf==3.20.3
psutil==5.9.6
pure-eval==0.2.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pygments==2.19.2
pyod==1.1.0
pyparsing==3.0.9
pysad==0.2.0
python-dateutil==2.8.2
python-version==0.0.2
pyts==0.11.0
pytz==2022.4
pywin32==311
PyYAML==6.0.1
pyzmq==27.0.2
qdldl==0.1.7.post5
qmc==0.0.1
referencing==0.35.1
requests==2.31.0
requests-oauthlib==1.3.1
rpds-py==0.20.1
rrcf==0.4.4
rsa==4.9
s3fs==0.4.2
scikit-learn==1.3.2
scikit-multiflow==0.5.3
scipy==1.10.0
seaborn==0.12.0
setuptools-scm==8.0.4
six==1.15.0
sortedcontainers==2.4.0
soupsieve==2.7
sqlalchemy==2.0.46
stack-data==0.6.3
statsmodels==0.14.1
stumpy==1.10.2
sympy==1.12.1
tabulate==0.8.10
tbb==2021.12.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.4.0
tensorflow-estimator==2.4.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-probability==0.19.0
termcolor==1.1.0
Theano==1.0.5
threadpoolctl==3.2.0
tinycss2==1.2.1
tomli==2.0.1
torch==2.3.1
torchvision==0.18.1
tornado==6.4.2
tqdm==4.66.1
traitlets==5.14.3
tslearn==0.6.3
typing-extensions==4.12.2
tzdata==2025.2
urllib3==1.26.18
wcwidth==0.2.13
webencodings==0.5.1
werkzeug==3.0.1
wntr==0.5.0rc1
wrapt==1.12.1
xgboost==0.90
XlsxWriter==1.3.9
yarg==0.1.9
zipp==3.17.0
